﻿@model IList<ProductOverviewModel>


@if (Model.Count > 0)
{
    <div class="related-products-grid">
        <div class="title panel-heading">
             <h2>@T("Products.RelatedProducts")</h2>
        </div>
        <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="item-box product-list col-xs-12 col-sm-12 col-md-12 product-align clearfix">
                           <div class="thumbnail">@await Html.PartialAsync("_ProductBoxListType", item)</div>
                        </div>
                    }
        </div>
    </div> 
}