﻿@model HomepageNewsItemsModel

@if (Model.NewsItems.Count > 0)
{
    <div class="news-list-homepage row">
        <div class="col-md-12">
            <div class="title sub-title">
                <strong>@T("News")</strong>
            </div>
        </div>
        <div class="news-items">
            @foreach (var item in Model.NewsItems)
            {
                 var image = item.MetaTitle;
                if(string.IsNullOrEmpty(image))
                    image = "https://picsum.photos/id/119/150/100";
                <div class="product-item product-item-panel clearfix">
                    <div class="picture-list-type col-md-2 col-sm-2 col-xs-5" style="padding: 0;">
                        <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">
                            <img class="img-main"  style="margin-left: 15px;" class="lazyOwl" src="@image" />
                        </a>
                    </div>
                    <div class="caption-list-type col-md-10 col-sm-10 col-xs-7">
                        <div class="details-list-type">
                            <div class="item">
                                <div class="news-head">
                                    <a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">
                                        @item.Title
                                    </a> <span class="news-date">
                                        @item.CreatedOn.ToString("D")
                                    </span>
                                </div>
                                <div class="news-details product-item-news hidden-xs">
                                    @Html.Raw(item.Short)
                                </div>
                               
                            </div>

                        </div>
                    </div>
                </div>
            }
            <div class="view-all col-md-12">
                <a href="@Url.RouteUrl("NewsArchive")">
                    @T("News.ViewAll")</a>
            </div>
        </div>
    </div>

}