@model Decimal
<input asp-for="@Model" asp-format="{0:F0}" />
@{
    var postfix = "";
    if (ViewData.ContainsKey("postfix") && ViewData["postfix"] != null)
    {
        postfix = ViewData["postfix"].ToString();
    }
}
<script>
$(document).ready(function () {
    $("#@Html.IdForModel()").kendoNumericTextBox({
        min: @Html.Raw(decimal.MinValue),
        max: @Html.Raw(decimal.MaxValue),
        decimals: 0,
        restrictDecimals: true,
        format: "#,0 @postfix"
        });
    });
</script>