﻿@model NewsItemListModel

@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.NewsArchive").Text);
    //page class
    Html.AppendPageCssClassParts("html-news-list-page");
}
<div class="page news-list-pag">
    <div class="page-title panel-heading">
        <a href="@Url.RouteUrl("NewsRSS", new { languageId = Model.WorkingLanguageId })" class="link-rss"
            title="@T("News.RSS.Hint")"><i class="icon-rss-sign pull-right">@*@T("News.RSS")*@</i></a>
        <h1>@T("News")</h1>
    </div>
    <div class="page-body panel-body from-pane panel-body-news">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.NewsListPageBeforeItems })
        <div class="news-items">
            @foreach (var item in Model.NewsItems)
            {
                var image = item.MetaTitle;
                if(string.IsNullOrEmpty(image))
                    image = "https://picsum.photos/id/119/150/100";
                <div class="product-item product-item-panel clearfix">
                    <div class="picture-list-type col-md-2 col-sm-2 col-xs-5" style="padding: 0;">
                        <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">
                            <img class="img-main"  class="lazyOwl" src="@image" />
                        </a>
                    </div>
                    <div class="caption-list-type-details col-md-10 col-sm-10 col-xs-7">
                        <div class="details-list-type">
                            <div class="item">
                                <div class="news-head">
                                    <a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">
                                        @item.Title
                                    </a> <span class="news-date">
                                        @item.CreatedOn.ToString("D")
                                    </span>
                                </div>
                                <div class="news-details product-item-news hidden-xs">
                                    @Html.Raw(item.Short)
                                </div>
                               
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
        @{
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
        }
        @if (!pager.IsEmpty())
        {
            <div class="pager">
                @pager
            </div>
        }
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.NewsListPageAfterItems })
</div>

