/*
Author URI: http://webthemez.com/
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.7;
	color: #666666;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background: #fff;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
::selection {
	color: #fff;
	background: #8fc843;
}

::-moz-selection {
 color: #fff;
 background: #8fc843;
}
p {
	color: black;
	margin: 0 0 0 !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family:36px 'Open Sans', sans-serif;
}
.fitImage {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}
.animated {
	/* -webkit-animation-duration: 1s; */
	animation-duration: 1s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.mcbook {
	opacity: 0;
}
.show {
	opacity: 1;
}
.pDark p {
	color: #6D6D6D;
}
h6{
	font-size:14px;
}
.dataTxt ul li{
	list-style:none;
	line-height:30px;
}
.listArrow li{
background: url('../images/links-arrow.png') 0px 12px no-repeat;
padding-left:15px;
}
.progress {
height: 12px;
border-radius:0px;
}
.progress .progress-bar.progress-bar-red {
background: #F76E26;
}
.progress .progress-bar.progress-bar-green {
background: #51D4B6;
}
.progress .progress-bar.progress-bar-lblue {
background: #9FDE32;
}

#services img{
	width:58px;
}
#services .circle{
width:120px;
height:90px;
display:inline-block;
background: transparent; 
}
#services .circle:hover { 
	transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
}
.pDark h3 {
	color: #BEBEBE;
}
.btn {
	color:#fff;
	background: #8fc843;
}
.btn:hover {
	 color:#fff !important;
	background:goldenrod;
}
 a:hover {
	
	 color:#8fc843 !important;
 }
 .filters a:hover {
	
	color:gray !important;
}
.btn{
display: inline-block;
padding: 8px 12px;
	}
.btn, .form-control, .team-socials i {
	border-radius: 0px !important;
}
.form-group {
	margin: 0 auto;
	margin-bottom: 15px;
	width: 75%;
}
.form-control {
	border: none;
	padding: 22px 4px;
	outline: none;
	color: #5A5A5A;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #F5F2ED;
	font-size: inherit;
	border-radius: 0px !important;
	width: 99%;
}
.button-outline {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	color: #fff;
	padding: 10px 25px;
	border: 2px solid #fff;
	border-radius: 0px;
	font-size: 16px;
	font-weight: 400;
	background: rgba(255,255,255,0.15);
}
.button-outline:hover {
	color: #fff;
	background: rgba(255,255,255,0.35);
}
a {
	color: #8fc843;
	text-decoration: none;
	text-shadow: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
a:hover {
	color: #000;
	text-decoration: none;
}
.btn {
	border: 0px;
	border-radius: 0px;
}
.btn-primary {
	background: #8fc843;
}
.form-control {
	border-radius: 0px;
}
.mrgn30 {
	margin: 30px 0;
}
.copyright {
	color: #fff;
	background: #8fc843;
}
.copyright a{
color: #fff;
}

.copyright a:hover{
color: #8fc843 !important;
}
#top {
	position: relative;
}
.topHome {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 5;
}
.topHome:hover{
color:#F89F9F;	
	}
/* Header 
----------------------------------------------*/
#section-top {
	background: #4E4E4E;
}
#section-top ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
#section-top ul li {
	display: inline-block;
}
#section-top ul li a {
	border-radius: 2px;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	width: 35px;
	text-align: center;
}
#section-top .region-top-first {
	float: right;
}
.header {
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 50;
	border-radius: 0;
	top: 0px;
	border-bottom: 1px solid rgba(214, 214, 214, 0.26);
}
.addBg { 
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
.navbar-inverse {
	background: transparent;
}
.navbar-inverse .navbar-toggle {
	background-color: #8fc843;
}
.navbar-inverse .navbar-toggle .icon-bar {
/*background-color: #8fc843;*/
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background: #8fc843;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #fff;
}
.navbar-inverse .navbar-toggle:hover .icon-bar {
	background: #fff;
}
.navbar-toggle {
}
.hero-text {
	color: #676e73;
	width: 83%;
	text-align: center;
	margin: 30% auto 24px auto;
	font-family: 'Open Sans', sans-serif;
}
.hero-text p {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 12px 8% 0;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}
/*.carousel-inner*/
#myCarousel {
	margin-top: 50px;
	border-bottom: 4px solid #8fc843;
}
.carousel-inner > .item {
}
.carousel-caption {
	padding: 0px;
	bottom: 40%;
	display: block;
	height: 80px;
}
.carousel-caption h1 {
	font-size: 45px;
	padding: 10px 15px;
	background: rgba(128, 180, 33, 0.80);
	color: #FFFFFF;
	text-shadow: none;
	font-weight: bold;
	display: inline-block;
}
.carousel-caption h3 {
	font-size: 30px;
	color: #1C4604;
	font-weight: bold;
	text-shadow: #fff 1px 1px 1px;
}
.actionPanel {
	padding: 25px 0;
	background: #8fc843;
}
.actionPanel h3 {
	margin: 0px;
}
.circle {
	background: #fff;
	height: 90px;
	width: 90px;
	border-radius: 0px;
	color: #8fc843;
	line-height: 90px !important;
}
#section-strapline {
	background: #86bd2e;
	line-height: 42px;
	clear: both;
}
/*----Nav ----*/
.header .navbar-brand {
	padding: 22px 15px;
	line-height: 18px;
}
.navbar-brand b {
	color: #8fc843;
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
}
.navbar-brand b i {
	color: #fff;
	font-style: normal;
}
.logo {
	font-size: 2.2em;
	text-shadow: none;
	margin: 8px 0 0 0;
}
.logo:hover {
	color: #5A5A5A;
}
.header .navbar {
	margin: 0;
	background: transparent;
	border: 0;
}
.hero-text2{
	padding:5px 0;
	text-align:center;	
}
.hero-text2 h3{
	font-size: 25px;
	color: goldenrod;
	line-height: 36px; 
	text-align: center
}
.navbar-inverse .navbar-nav > li > a {
	color: goldenrod;
	font-size: 1.2em;
	line-height: normal;
	margin: 17px;
	padding: 0px 0px !important;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: goldenrod;
	background: none;
	border-bottom: 2px solid goldenrod;
	border-radius: 0px;
}
.navbar-inverse .navbar-nav > .active {
}
.navbar-nav > li:hover > a {
	color: #86bd2e;
}
.header .navbar-nav > li > a {
	padding: 25px 18px;
	text-transform: uppercase;
	font-weight: 800;
}
.page-section {
	width: 100%;
	height: auto;
	padding: 10px 0;
}
.noPadd {
	padding: 0;
}
.page-section h1 {
	font-size: 3.5em;
	margin: 90px 0 30px;
	line-height: 1.2em;
}
.page-section h1 span {
	font-weight: 200;
}
.page-section h2 {
	color: #8fc843;
}
.page-section p {
	font-size: 15px;
	line-height: 1.5em;
}
.darkBg {
	background: #000;
}
.darkBg .fa {
	color: #8fc843;
}
/*--- Banner ----*/
.banner-container {
	width: 100%;
	padding: 0px;
	/*background: url("../images/banner-bg.jpg") no-repeat;*/
	background-size: cover;
	position: relative;
	border-bottom: 2px #8fc843 solid;

}
.banner-container:before {
position: absolute;
width: 100%; 
z-index: 1; 
content: '';
height: inherit;
top: 75px;
bottom: 0px;
}
.banner-container > img {
	width: 100%;
}
.banner-content {
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 0px;
	right: 0px;
}
.hero-text h1 {
color: #fff; 
line-height: 1.5em;
font-size: 28px !important;
margin: 37px 0 13px;
font-weight: bolder; 
background: rgba(0, 0, 0, 0.44);
width: 60%;
margin: 0 auto;
padding: 20px 0;
border: dashed 1px rgba(255, 255, 255, 0.6);
text-transform: uppercase;
}
.hero-text p {
	font-size: 1.6em;
	color: #fff;
	font-style: normal; 
	text-shadow: 1px 1px 1px #8F8F8F;
}
.arrow-link {
	display: inline-block;
	font-size: 32px; 
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	width: 50px; 
}
a.arrow-link {
	color: #fff;
}
a.arrow-link i{
font-size:28px;
}
a.arrow-link:hover {
	color: #fff;
}
.colord {
	background: #8fc843;
}
.colord p {
	color: #fff;
}
.colord h3 {
	color: #fff;
}
.hero-button {
	text-align: center;
	background: rgba(255, 255, 255, 0.36);
	border: 1px solid #fff;
	padding: 20px;
	display: inline-block;
	margin: 0 auto;
	clear: left;
	width: auto;
}
.hero-img {
	text-align: center;
	margin: 124px auto 24px auto;
}
.da-slider {
	margin: 0 auto !important;
}
.heading h2 {
	color: #222;
}
#contactUs .heading h2 { 
}
.sub-heading {
	padding: 15px 0;
}
.sub-heading h2 {
	font-size: 18px;
	margin: 15px 0 8px !important;
}
.sub-heading p {
	color: #5A5A5A;
}
.heading {
	padding: 3px 10px;
	padding-bottom: 15px;
	margin-bottom: 30px;
	display: block;
}
.heading p {
	font-size: 1.2em;
}
.pdingBtm30 {
	padding-bottom: 30px;
}
.da-arrows span:after {
	width: 25px;
	height: 37px;
}
.da-arrows span {
	position: absolute;
	top: 50%;
	height: 34px;
	width: 34px;
	border-radius: 60px;
	background: none;
}
.da-dots span {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.13);
	margin: 3px;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(255,255,255,0.1);
	border: 2px solid #8fc843;
}
img, video, iframe, embed, object {
	max-width: 100%;
	height: auto;
}
/* Features
    -------------------------------------------------*/

.right {
	/* padding-left: 32px; */
	float: right;
}
.left {
	/* padding-right: 32px; */
	float: left;
}
#aboutUs h3 {
	font: 18px/34px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: goldenrod;
	margin-bottom: 25px;
	border-bottom: 1px solid #86bd2e;
}

.fluid-video-wrapper {
	margin-top: 18px;
}
#aboutUs .left {
	padding-right: 32px;
	float: left;
}
#aboutUs .right {
	float: right;
}
.row .area1 {
	width: 50%;
}
.row .area2 {
	width: 50%;
}
/* Services
    -------------------------------------------------*/
.grid .text-content {
	padding-left: 35%;
}
.grid .text-content {
	display: block;
	padding-left: 19%;
	padding-right: 8%;
}
.grid .grid-item {
}
.grid .text-content h5 {
	font-weight: bold;
}
.grid .grid-item .item-content {
	display: block;
	outline: none;
	text-decoration: none;
	padding: 20px 0;
}
.item-content .fa {
	position: absolute;
	color: #646464;
	font-size: 4.5em;
	top: 36px;
}
/* Team
    ---------------------------------------------------*/
.team-member {
	margin-bottom: 15px;
}
.member-img {
	overflow: hidden; 
	padding: 5px;
	position:relative;
}
.team-member .member-img img {
	max-width: 250px;
	margin: 0 auto;
}
.team-member h4 {
	font-size: 19px;
	line-height: 32px;
	margin: 10px 0 0;
	text-align: center;
}
.team-member .pos {
	display: block;
	margin: 0;
	text-align: center;
}
.team-title{

}
.team-member .contact a {
	padding: 0 8px;
}
.team-socials {
	position:absolute;
	bottom:70px;
	left:0px;
	right:0px;
}
.team-socials a {
	background: white;
	padding: 7px 0;
	margin: 2px;
}
#contactUs, .parlex-back {
 background:#fff; 
 background-color: #fff !important;
}
#contactUs .btn {
	border-radius: 0px !important;
	background: #8fc843;
}
.descrition {
	min-height: 90px; 
	padding: 5px 15px;
}
.team-member {
	padding-top: 5px;
}
.team-socials {
	margin: 15px 0;
	opacity: 0;
	text-align: center;
}
.team-member:hover .team-socials {
	opacity: 1;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.team-socials i {
	width: 35px;
	height: 35px;
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 18px;
}
/* --Portfolio----- */
#work {
 
}
#work h2 { 
}
#work p { 
}
#portfolio {
	width: 100%
}
#portfolio .filters {
	margin-bottom: 20px
}
#portfolio .filters li a, #portfolio2 .filters li a, #portfolio3 .filters li a  {
	color: white;
	font-weight: 600;
	text-transform: uppercase;
}
#portfolio .filters li a, #portfolio .filters li a:hover, #portfolio .filters li a:focus {
	color: white;
}
#portfolio .filters li a.active, #portfolio2 .filters li a.active, #portfolio3 .filters li a.active {
	color:white !important;
border-bottom: solid #fff 1px;
background-color: gray;
}
#portfolio .items {
	margin-bottom: 0
}
#portfolio .items li {
	position: relative;
	float: left;
	width: 25%;
	overflow: hidden;
}
#portfolio .items li a img {
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#portfolio .items li a .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	background-color: rgba(0,0,0,0.6);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	opacity: 1;
}
#portfolio .items li a .overlay span {
	color: #FFF;
	position: absolute;
	height: 50px;
	top: 50%;
	left: 0px;
	right: 0px;
	margin-top: -25px;
	line-height: 50px;
}
#portfolio .items li a:hover .overlay {
	opacity: 1
}
#portfolio .items li a:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
nav#filter {
	margin-bottom: 1.5em;
}
nav#filter li {
	display: inline-block;
	margin: 0 0 0 5px;
}
nav#filter a {
	padding: 4px 12px;
	line-height: 20px;
	border: 1px solid #8fc843;
	text-decoration: none;
}
.current {
	background: #8fc843;
	color: #fff;
} 
.page-section.intro {
	min-height: 600px;
}
.btn {
	font-weight: 200;
}
.btn-dark {
	background: #444;
	color: #fff;
}
.btn-dark:hover {
	background: #000;
	color: #fff;
}
.back-to-top {
	display: inline-block;
	clear: both;
	background: #fff;
	color: #333;
	padding: 0 10px 5px;
	margin: 20px 0 0;
	text-shadow: none;
}
.back-to-top:hover {
	background: #333;
	color: #fff;
	text-decoration: none;
}
hr {
	border-color: #ddd;
}
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
#navigation {
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 200px;
	background: #ffffff;
	box-shadow: 0 10px 10px -10px #000000;
}
#navigation > li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#navigation > li > a {
	margin: 1px;
	color: #000000;
	background: #cccccc;
	display: block;
	padding: 5px;
	text-decoration: none;
	transition: all 400ms;
}
#navigation > li > a.current,  #navigation > li:hover > a {
	background: #999999;
}
.pageSection {
	min-height: 600px;
	padding: 20px;
	background: #dddddd;
}
.pageSection:nth-child(odd) {
	background: #eeeeee;
}
.socialIcons li {
	list-style: none;
	display: inline;
	margin-right: 6px;
}
footer { 
	padding: 45px 0; 
}
.social a:hover {
	color: #000;
}
.social a {
	font-size: 32px;
	margin: 0 10px;
	color: #8fc843;
}
.contact ul li {
	margin-bottom: 10px;
}
.contact ul li i {
	margin-right: 15px;
}
/*Clients*/
.clients #owl-demo .item {
	background: none;
}
.clients .helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.clients .helper img {
	vertical-align: middle;
	max-height: 70px;
	max-width: 80%;
}
.clients .helper:hover {
	cursor: e-resize;
}
.clients .customNavigation > a {
	font-size: 25px;
	cursor: pointer;
	margin: 0px 5px;
}
.portfolio-item img:hover {
	width: 110%;
	height: 110%;
}
footer{
	background: #F0F0F0;
}
footer h4{
font-size:24px;	
padding-bottom:12px;
}
footer .col ul {
margin: 0;
padding: 0;
list-style: none;
}
footer .col ul li, footer .col p {
font-size: 14px;
}
footer .col.col-social-icons i {
width: 40px;
height: 40px;
display: inline-block;
padding: 10px;
margin-right: 10px;
margin-bottom: 10px;
text-align: center;
font-size: 18px; 
color: #333;
border-radius: 0px; 
}
footer .col.col-social-icons i:hover{
color:#8fc843;
}
footer input.form-control{
	padding: 18px 10px;
} 
.area1 a{
	margin-bottom:10px;
}
#services{
padding:35px 0;
}

/*---------------*/
/***** Bubba *****/
/*---------------*/
figure {
position: relative;
float: left;
overflow: hidden;
margin: 0px;
min-width: 100%;
max-width: 100%;
/* max-height: 360px; */
width: 48%;
background: white;
text-align: center;
cursor: pointer;
}
figure figcaption, figure figcaption > a {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
figure figcaption {
padding: 2em;
color: #fff;
text-transform: uppercase;
font-size: 1.25em;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}
figure.effect-bubba { 
}

figure.effect-bubba img {
	opacity: 1;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.9;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	font-size:20px;
	padding-top: 30%;
	color:#fff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	opacity: 0;
}

figure.effect-bubba a {
top: 30%;
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
color:#fff !important;
font-size:14px;
z-index:100;
} 
figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover a {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


  
 .carousel-inner .item {
      opacity: 0;
      transition-property: opacity;
    }

 .carousel-inner .active {
      opacity: 1;
    }

 .carousel-inner  .active.left,
 .carousel-inner .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

 .carousel-inner .next.left,
 .carousel-inner .prev.right {
      opacity: 1;
    } 

 .carousel-inner .carousel-control {
    z-index: 2;
  } 


 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
  height: 100%;
}

.item:nth-child(1) { 
}

.item:nth-child(2) { 
}

.item:nth-child(3) { 
}

@media (min-width: 768px) and (max-width: 1366px) {
.navbar-inverse .navbar-nav > li > a {
    color: goldenrod;
    font-size: 1.0em;
    border-radius: 5px;
    /*margin: 34px 10px;*/
	/* padding: 6px 0px !important; */
	text-transform: uppercase;
	text-align: center;
    justify-content: center;
    display: flex;
}
}

@media (min-width: 768px) {

}

@media (max-width: 768px) {
.navbar-nav { 
	margin:0px;
} 
.navbar-toggle{
margin-top: 36px;
}
.banner-container {
	background-size: contain;
}
.row .six {
	width: auto;
}
.da-slide h2 {
	font-size: 28px;
}
.banner-content p {
	font-size: 1.2em;
	text-shadow: none;
}
.hero-img {
	display: none;
}
.da-slide p {
	width: 67%;
	top: 122px;
}
.team-member .member-img img {
	max-width: 100%;
}
.da-slider {
	height: 380px;
	width: 100%;
	min-width: initial;
	margin: 0px !important;
}
.header .navbar-nav > li > a {
	padding: 25px 12px;
}
.portfolio-item img {
	text-decoration: none;
	display: block;
	width: 330px;
	height: 228px;
	float: left;
	margin: 0 3px 3px 0;
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
}
.portfolio-item:hover .folio-info {
	top: 0px;
}
.portfolio-item .portfolio-desc .folio-info {
	padding: 0px;
}
.portfolio-item .portfolio-desc .folio-info h5 {
	font-size: 1em;
}
;
}

@media (max-width:760px) {
.header .navbar-nav > li > a {
	padding: 7px 12px;
	font-size: 14px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #A8A8A8;
}
.row .area1, .row .area2 { 
display: block;
width: 100%;
}
.hero-text2 {
padding: 10px 0;
text-align: center;
}
.hero-text2 h3 {
font-size: 16px;
color: goldenrod;
line-height: 28px;
text-align: center;
}

.carousel, .carousel-inner, .carousel-inner .item {
height: auto !important;
}
}

@media (max-width: 480px) {

.navbar-inverse .navbar-nav > li > a {
color: goldenrod;
font-size: 1.1em;
/* padding: 6px 0px !important; */
border-radius: 5px;
/* margin: 3px 10px; */
}
.page-section { 
padding: 22px 0 !important;
}
.banner-container {
	background-size: contain;
}
.banner-container > img {
	width: 100%;
	height: 240px;
}
.responsive-headline {
	font-size: 16px !important
}
.hero-text {
	margin-top: 29%;
}
.navbar {
	min-height: 69px;
}
.arrow-link {
	display: none;
}
.da-slide h2 {
	font-size: 22px;
	top: 7px;
	text-shadow: none;
}
.da-slide p {
	width: 65%;
	top: 42px;
	height: 50px;
}
#section-top ul li a {
	height: 28px;
	line-height: 28px;
	width: 26px;
}
.team-socials a {
	background: white;
	padding: 1px 0;
	margin: 2px;
}
.team-socials i {
	width: 19px;
	height: 19px;
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 16px;
}
.page-section {
	padding: 0px;
}
.page-section h1 {
	font-size: 3em;
}
.page-section h2 {
	font-size: 2em;
}
.page-section p {
	font-size: 1em;
	margin: 0 0 20px;
}
.portfolio-item .portfolio-desc .folio-info h5 {
	font-size: 11px;
} 
.featured {
-webkit-transform: scale(1) !important;
-ms-transform:scale(1) !important;
transform: scale(1) !important;
}
}

@media (max-width: 320px) {
.banner-container {
	background-size: contain;
}
.da-slider {
	height: 300px;
}
.da-slider {
	width: 100%;
	min-width: initial;
	position: relative;
	margin: 0 auto;
}
.da-dots {
	bottom: 2px;
}
.grid .text-content {
	padding-left: 29%;
	padding-right: 2%;
}
.portfolio-item:hover .folio-info {
	top: 0px;
}
.portfolio-item .portfolio-desc .folio-info h5 {
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	font-size: 10px;
	margin: 10px 0 0 0;
}
nav#filter li {
	display: inline-block;
	margin: 0 0 23px 5px;
}
;
}
#owl-demo .item {
	background: #3fbf79;
	padding: 30px 0px;
	margin: 10px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
.customNavigation {
	text-align: center;
}
.customNavigation a {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.contact-parlex {
	padding-top: 0px;  
	background:#161616;
}
.parlex-back {
	padding: 30px 0; 
}
.form-group lable{
	color:#4a4a4a !important;
}
.parlex-back .heading p { 
}
#clients {
	background: #fff;
}
/*Price table*/
.flat .plan {
	border-radius: 0px;
	list-style: none;
	padding: 0 0 20px;
	margin: 0 0 15px;
	background: #fff;
	text-align: center;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29) !important;
}
.flat .plan li {
	padding: 10px 15px;
	color: #ccc;
	border-top: 1px solid #f5f5f5;
	-webkit-transition: 300ms;
	transition: 300ms;
}
.flat .plan li.plan-price {
	border-top: 0;
}
.flat .plan li.plan-name {
	border-radius: 0;
	padding: 15px;
	font-size: 24px;
	line-height: 24px;
	color: #fff;
	background: #4E4E4E;
	margin-bottom: 30px;
	border-top: 0;
}
.flat .plan li > strong {
	color: #6B6B6B;
	font-weight: normal;
}
.flat .plan li.plan-action {
	margin-top: 10px;
	border-top: 0;
}
.flat .plan.featured {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.flat .plan.featured:hover li.plan-name, .flat .plan:hover li.plan-name, .flat .plan.featured.plan-name {
	background: #8fc843 !important;
}
.customNavigation {
	display: none;
}
#clients .heading {
	margin: 0px;
}
.isotope-item {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	opacity: 1;
}
.isotopeWrapper article {
	margin: 0px;
}



/*Edit by KhanhHuynh*/
.red {
	color: red;
}
.color-golden {
	color: goldenrod;
}
.color-green {
	color: #8fc843;
}
.tienich{
	width: 100%!important;
border-collapse: collapse;
}
.tienich tr td {
	border: 1px solid black !important;
	padding: 5px !important;
	width: initial!important;
border: 1px solid silver;
padding: 5px 10px;
min-width: 70px;
color: black;
	}
.li-mod{
width: 100% !important;
	}

.list-image td {
	width: initial !important;
	padding: 5px 5px;
	min-width: 70px;
}

.product-item {
	border: 1px solid #ebedf0;
	box-sizing: border-box;
	border-radius: 4px;
	margin-bottom: 16px;
	position: relative;
}

.product-item .product-image {
	width: 224px;
	min-height: 172px;
	float: left;
	position: relative;
}



.product-lists .product-content {
	color: #747c87;
	display: -webkit-box;
	height: 40px;
	overflow: hidden !important;
	-webkit-line-clamp: 2;
	position: relative;
	text-overflow: ellipsis;
	white-space: normal;
	word-wrap: break-word;
	-webkit-box-orient: vertical;
	line-height: 20px;
}

.product-lists .product-wrap {
	position: absolute;
	width: calc(100% - 224px);
	bottom: 8px;
	right: 0;
	background: #fff;
	padding: 0 16px;
}



/* phone */
.hotline-phone-ring-wrap {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 999999;
	margin-right: -20px;
	}
	.hotline-phone-ring {
	position: relative;
	visibility: visible;
	background-color: transparent;
	width: 110px;
	height: 110px;
	cursor: pointer;
	z-index: 11;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transition: visibility .5s;
	left: 0;
	bottom: 0;
	display: block;
	}
	.hotline-phone-ring-circle {
	width: 85px;
	height: 85px;
	top: 10px;
	left: 10px;
	position: absolute;
	background-color: transparent;
	border-radius: 100%;
	border: 2px solid #e60808;
	-webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
	animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
	transition: all .5s;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	opacity: 0.5;
	}
	.hotline-phone-ring-circle-fill {
	width: 55px;
	height: 55px;
	top: 25px;
	left: 25px;
	position: absolute;
	background-color: rgba(230, 8, 8, 0.7);
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
	animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
	transition: all .5s;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	}
	.hotline-phone-ring-img-circle {
	background-color: #e60808;
	width: 33px;
	height: 33px;
	top: 37px;
	left: 37px;
	position: absolute;
	background-size: 20px;
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
	animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	}
	.hotline-phone-ring-img-circle .pps-btn-img {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	}
	.hotline-phone-ring-img-circle .pps-btn-img img {
	width: 20px;
	height: 20px;
	}
	.hotline-bar {
	position: absolute;
	background: rgba(230, 8, 8, 0.75);
	height: 40px;
	width: 180px;
	line-height: 40px;
	border-radius: 3px;
	padding: 0 10px;
	background-size: 100%;
	cursor: pointer;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	z-index: 9;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
	border-radius: 50px !important;
	/* width: 175px !important; */
	left: 33px;
	bottom: 37px;
	}
	.hotline-bar > a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	text-indent: 50px;
	display: block;
	letter-spacing: 1px;
	line-height: 40px;
	font-family: Arial;
	}
	.hotline-bar > a:hover,
	.hotline-bar > a:active {
	color: #fff;
	}
	@-webkit-keyframes phonering-alo-circle-anim {
	0% {
	-webkit-transform: rotate(0) scale(0.5) skew(1deg);
	-webkit-opacity: 0.1;
	}
	30% {
	-webkit-transform: rotate(0) scale(0.7) skew(1deg);
	-webkit-opacity: 0.5;
	}
	100% {
	-webkit-transform: rotate(0) scale(1) skew(1deg);
	-webkit-opacity: 0.1;
	}
	}
	@-webkit-keyframes phonering-alo-circle-fill-anim {
	0% {
	-webkit-transform: rotate(0) scale(0.7) skew(1deg);
	opacity: 0.6;
	}
	50% {
	-webkit-transform: rotate(0) scale(1) skew(1deg);
	opacity: 0.6;
	}
	100% {
	-webkit-transform: rotate(0) scale(0.7) skew(1deg);
	opacity: 0.6;
	}
	}
	@-webkit-keyframes phonering-alo-circle-img-anim {
	0% {
	-webkit-transform: rotate(0) scale(1) skew(1deg);
	}
	10% {
	-webkit-transform: rotate(-25deg) scale(1) skew(1deg);
	}
	20% {
	-webkit-transform: rotate(25deg) scale(1) skew(1deg);
	}
	30% {
	-webkit-transform: rotate(-25deg) scale(1) skew(1deg);
	}
	40% {
	-webkit-transform: rotate(25deg) scale(1) skew(1deg);
	}
	50% {
	-webkit-transform: rotate(0) scale(1) skew(1deg);
	}
	100% {
	-webkit-transform: rotate(0) scale(1) skew(1deg);
	}
	}
	@media (max-width: 768px) {
	.hotline-bar {
	display: none;
	}
	}
	.container h3 {
		border-bottom: 1px solid #8fc843;
		color: goldenrod;
	}

/* zalo */
/* phone */
.hotline-zalo-ring-wrap {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 999999;
	margin-bottom: 65px;
	margin-right: -20px;
	}
	.hotline-zalo-ring {
	position: relative;
	visibility: visible;
	background-color: transparent;
	width: 110px;
	height: 110px;
	cursor: pointer;
	z-index: 11;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transition: visibility .5s;
	left: 0;
	bottom: 0;
	display: block;
	}
	.hotline-zalo-ring-circle {
	width: 85px;
	height: 85px;
	top: 10px;
	left: 10px;
	position: absolute;
	background-color: transparent;
	border-radius: 100%;
	border: 2px solid #5798ef;
	-webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
	animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
	transition: all .5s;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	opacity: 0.5;
	}
	.hotline-zalo-ring-circle-fill {
	width: 55px;
	height: 55px;
	top: 25px;
	left: 25px;
	position: absolute;
	background-color: #5798ef;
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
	animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
	transition: all .5s;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	}
	.hotline-zalo-ring-img-circle {
	background-color: #5798ef;
	width: 33px;
	height: 33px;
	top: 37px;
	left: 37px;
	position: absolute;
	background-size: 20px;
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
	animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	}
	.hotline-zalo-ring-img-circle .pps-btn-img {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	}
	.hotline-zalo-ring-img-circle .pps-btn-img img {
	width: 20px;
	height: 20px;
	}
	.hotline-bar {
	position: absolute;
	background: #5798ef;
	height: 40px;
	width: 180px;
	line-height: 40px;
	border-radius: 3px;
	padding: 0 10px;
	background-size: 100%;
	cursor: pointer;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	z-index: 9;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
	border-radius: 50px !important;
	/* width: 175px !important; */
	left: 33px;
	bottom: 37px;
	}
	.hotline-bar > a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	text-indent: 50px;
	display: block;
	letter-spacing: 1px;
	line-height: 40px;
	font-family: Arial;
	}
	.hotline-bar > a:hover,
	.hotline-bar > a:active {
	color: #fff;
	}
	@-webkit-keyframes phonering-alo-circle-anim {
	0% {
	-webkit-transform: rotate(0) scale(0.5) skew(1deg);
	-webkit-opacity: 0.1;
	}
	30% {
	-webkit-transform: rotate(0) scale(0.7) skew(1deg);
	-webkit-opacity: 0.5;
	}
	100% {
	-webkit-transform: rotate(0) scale(1) skew(1deg);
	-webkit-opacity: 0.1;
	}
	}
	@-webkit-keyframes phonering-alo-circle-fill-anim {
	0% {
	-webkit-transform: rotate(0) scale(0.7) skew(1deg);
	opacity: 0.6;
	}
	50% {
	-webkit-transform: rotate(0) scale(1) skew(1deg);
	opacity: 0.6;
	}
	100% {
	-webkit-transform: rotate(0) scale(0.7) skew(1deg);
	opacity: 0.6;
	}
	}
	@-webkit-keyframes phonering-alo-circle-img-anim {
	0% {
	-webkit-transform: rotate(0) scale(1) skew(1deg);
	}
	10% {
	-webkit-transform: rotate(-25deg) scale(1) skew(1deg);
	}
	20% {
	-webkit-transform: rotate(25deg) scale(1) skew(1deg);
	}
	30% {
	-webkit-transform: rotate(-25deg) scale(1) skew(1deg);
	}
	40% {
	-webkit-transform: rotate(25deg) scale(1) skew(1deg);
	}
	50% {
	-webkit-transform: rotate(0) scale(1) skew(1deg);
	}
	100% {
	-webkit-transform: rotate(0) scale(1) skew(1deg);
	}
	}
	@media (max-width: 768px) {
	.hotline-bar {
	display: none;
	}
	}




	/* bootstrap */
	.row {
		margin-right: 0px; 
	    margin-left: 0px;
	}
	.list-inline{
		text-align: center;
	}
	.price{
		color: red;
	}
	.text-elipse {
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
	  }

	@media (max-width:279px) {

	}

	@media (min-width:280px) {
		#aboutUs {
			background: #fff;
			padding-top: 10px;
			padding-bottom: 25px;
			overflow: hidden;
		}
		.feature a {
			width: 120px;
			display: inline-block;
			font-size: 18px;
			color: #fff;
			background: #8fc843;
			margin-right: 10px;
			text-align: center;
			line-height: 41px;
			margin-top: 10px;
		}
		.product-item .product-image {
			width: 100px;
			min-height: 100px;
			float: left;
			position: relative;
		}
		.product-lists .product-main {
			width: calc(100% - 100px);
			float: right;
			padding: 0px 16px 14px 16px;
			overflow: hidden;
		}
		.product-title {
			color: goldenrod;
			margin-top: 0px;
			font-weight: bold;
			font-size: 12;
		}
		.description-start{
			font-size: 12px;
		}
		
	}

	@media (min-width:320px) {}

	@media (min-width:375px) {}

	@media (min-width:413px) {}

	@media (min-width:414px) {}

	@media (min-width:768px) {
		.banner-container {
			margin-top: 55px;
		}

		#aboutUs {
			background: #fff;
			padding-top: 35px;
			padding-bottom: 25px;
			overflow: hidden;
		}
		.feature a {
			display: inline-block;
			font-size: 18px;
			color: #fff;
			background: #8fc843;
			margin-right: 20px;
			width: 220px;
			text-align: center;
			line-height: 41px;
			/* border-radius: 10px; */
			}
			.product-item .product-image {
				width: 224px;
				min-height: 172px;
				float: left;
				position: relative;
			}
			.product-lists .product-main {
				width: calc(100% - 224px);
				float: right;
				padding: 12px 16px 14px 16px;
				overflow: hidden;
			}
			.product-title {
				color: goldenrod;
				margin-top: 0px;
				font-weight: bold;
				font-size: 16;
			}
			.description-start{
				font-size: 14px;
			}
			.header .navbar-brand {
				padding-left: 0;
			}
		
			.navbar-inverse .navbar-nav > li > a {
			color: goldenrod;
			font-size: 1.0em;
			/* padding: 6px 0px !important; */
			border-radius: 5px;
			/* margin: 34px 10px; */
			} 
			#mainNav {
				list-style-type:none;
				display:flex;
				justify-content: center;
				float: none !important;
				} 

	}

	@media (min-width:1025px) {}
