﻿@model SearchBoxModel
<form asp-route="ProductSearch" method="get" class="navbar-form navbar-left" id="small-search-box-form">
    @if (Model.ShowSearchBox)
    {
        <div class="form-group">
            <input type="text" class="search-nav form-control" id="small-searchterms" autocomplete="off" placeholder="@T("Search.SearchBox.Tooltip")" name="q" aria-label="@T("Search.SearchBox.Text.Label")" />
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.SearchBoxBeforeSearchButton })
            <input type="submit" class="btn search-box-button" value="" />
            @if (Model.SearchTermMinimumLength > 0)
            {
                <script type="text/javascript" asp-location="Footer">
            $("#small-search-box-form").on("submit", function (event) {
                if ($("#small-searchterms").val() == "") {
                    alert('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Search.EnterSearchTerms").Text))');
                    $("#small-searchterms").focus();
                    event.preventDefault();
                }
            });
                </script>
            }
            @if (Model.AutoCompleteEnabled)
            {
                <text>
                    <script asp-location="Footer">
                $(document).ready(function () {
                    var showLinkToResultSearch;
                    var searchText;
                    $('#small-searchterms').autocomplete({
                            delay: 500,
                            minLength: @(Model.SearchTermMinimumLength.ToString()),
                            source: '@(Url.RouteUrl("ProductSearchAutoComplete"))',
                            appendTo: '.search-box',
                            select: function(event, ui) {
                                $("#small-searchterms").val(ui.item.label);
                                setLocation(ui.item.producturl);
                                return false;
                            },
                            //append link to the end of list
                            open: function(event, ui) {
                                //display link to search page
                                if (showLinkToResultSearch) {
                                    searchText = document.getElementById("small-searchterms").value;
                                    $(".ui-autocomplete").append("<li class=\"ui-menu-item\" role=\"presentation\"><a href=\"/search?q=" + searchText + "\">@T("Search.SearchBox.SearchPageLink")</a></li>");
                                }
                            }
                        })
                        .data("ui-autocomplete")._renderItem = function(ul, item) {
                            var t = item.label;
                            showLinkToResultSearch = item.showlinktoresultsearch;
                            t = htmlEncode(t);
                            return $("<li></li>")
                                .data("item.autocomplete", item)
                                .append("<a>@(Model.ShowProductImagesInSearchAutoComplete ? Html.Raw("<img src='\" + item.productpictureurl + \"'>") : null)" +"<span>" + t + "</span>" + "</a>")
                            .appendTo(ul);
                    };
                });
                    </script>
                </text>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.SearchBox })
        </div>
    }
</form>
@* 
@model SearchBoxModel

 <!-- Advance Search -->
 <form asp-route="ProductSearch" method="get" class="navbar-form navbar-left" id="small-search-box-form">
  <section id="aa-advance-search">
    <div class="container">
      <div class="aa-advance-search-area">
        <div class="form">
         <div class="aa-advance-search-top">
             <div class="row">
                 <div class="col-md-12">
                <div class="aa-single-advance-search">
                  <input class="pull-left" type="text" placeholder="Tìm kiếm địa điểm, khu vực" id="small-searchterms" autocomplete="off" placeholder="@T("Search.SearchBox.Tooltip")" name="q" aria-label="@T("Search.SearchBox.Text.Label")"/>
                   @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.SearchBoxBeforeSearchButton })
                  <div class="pull-left "><input  type="submit"  class="btn btn-primary btn-search" value="Tìm kiếm"/></div>
                </div>
                   
              </div>
             </div>
            @* <div class="row search-row-2">
              <div class="col-md-3">
                <div class="aa-single-advance-search">
                  <select id="stateprovince" >
                   <option value="0" selected>Trên toàn quốc</option>
                   @foreach (var item in Model.StateProvinces)
                   {
                        <option value="@item.Id">@item.Name</option>
                   }
                  </select>
                </div>
              </div>
               <div class="col-md-3">
                <div class="aa-single-advance-search">
                  <select id="district">
                    <option value="0" selected>Tất cả quận/huyện</option>

                  </select>
                </div>
              </div>
              <div class="col-md-3">
                 <div class="aa-single-advance-search">
                  <select>
                     @foreach (var item in Model.Prices)
                   {
                        <option value="@item.Value">@item.Text</option>
                   }
                  </select>
              </div>
              </div>
             
                <div class="col-md-3">
                 <div class="aa-single-advance-search">
                  <select>
                    @foreach (var item in Model.Areas)
                   {
                        <option value="@item.Value">@item.Text</option>
                   }
                  </select>
                </div>
              </div>
            </div> 
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </section>
  </form> 
  <!-- / Advance Search -->

  @{
      <text>
        <script asp-location="Footer">
          /*   $("#stateprovince").change(function () {
                var v = this.value;
                var urlGet = `@Html.Raw(Url.Action("GetDistrictByStateProvinceId", "SearchComplete"))`+ "?id="+ v;
                $('#district').find('option').remove().end();
                var div_data_default= '<option value="0"> Tất cả quận/huyện </option>';
                $('#district').append( div_data_default);
             $.ajax({
                        cache: false,
                        url: urlGet,
                        type: 'GET',
                        beforeSend: function () {
                        },
                        success: function (response) {
                            if (response.success) {
                               $.each(response.data,function(i,data){
                                    var div_data= '<option value="'+data.Id+'">'+data.Name+'</option>';
                                    $('#district').append( div_data);
                              });
                            } else {
                               alert("ERROR") ;
                            }
                        },
                        complete: function () {
                        }
                    });
            }); */
      

                $(document).ready(function () {
                    var showLinkToResultSearch;
                    var searchText;
                    $('#small-searchterms').autocomplete({
                            delay: 500,
                            minLength: @(Model.SearchTermMinimumLength.ToString()),
                            source: '@(Url.RouteUrl("ProductSearchAutoComplete"))',
                            appendTo: '.search-box',
                            select: function(event, ui) {
                                $("#small-searchterms").val(ui.item.label);
                                setLocation(ui.item.producturl);
                                return false;
                            },
                            //append link to the end of list
                            open: function(event, ui) {
                                //display link to search page
                                if (showLinkToResultSearch) {
                                    searchText = document.getElementById("small-searchterms").value;
                                    $(".ui-autocomplete").append("<li class=\"ui-menu-item\" role=\"presentation\"><a href=\"/search?q=" + searchText + "\">@T("Search.SearchBox.SearchPageLink")</a></li>");
                                }
                            }
                        })
                        .data("ui-autocomplete")._renderItem = function(ul, item) {
                            var t = item.label;
                            showLinkToResultSearch = item.showlinktoresultsearch;
                            t = htmlEncode(t);
                            return $("<li></li>")
                                .data("item.autocomplete", item)
                                .append("<a>@(Model.ShowProductImagesInSearchAutoComplete ? Html.Raw("<img src='\" + item.productpictureurl + \"'>") : null)" +"<span>" + t + "</span>" + "</a>")
                            .appendTo(ul);
                    };
                });
            
        </script>
    </text>
} *@