﻿<div class="header">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
    <div class="header-upper">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <div class="header-logo">
                        @await Component.InvokeAsync("Logo")
                    </div>
                    <div class="header-selectors-wrapper">
                        @await Component.InvokeAsync("TaxTypeSelector")
                        @await Component.InvokeAsync("CurrencySelector")
                        @await Component.InvokeAsync("LanguageSelector")
                        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
                    </div>
                </div>
                <div class="col-md-10 col-sm-10 header-upper-right pull-right hidden-xs">
                    <div class="">
                        @await Component.InvokeAsync("HeaderLinks")
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle }) 
    <div class="header-lower">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                  
                </div>
                 <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 pull-right">
                    <div class="search-box">
                        @await Component.InvokeAsync("SearchBox")
                    </div>
                </div> 
            </div>
        </div>
    </div>
     @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })  *@
</div>
