﻿@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@inject CatalogSettings catalogSettings
@inject IWorkContext workContext
@{
    var area= "0 m2";
    if(Model.SpecificationAttributeModels!=null){
       var fod = Model.SpecificationAttributeModels.FirstOrDefault();
       if(fod != null) area = fod.ValueRaw;
    }
}

<div class="product-item clearfix" data-productid="@Model.Id">
    <div class="picture-list-type col-md-2 col-sm-2 col-xs-2">
        <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            <img class="lazyOwl" alt="@Model.DefaultPictureModel.AlternateText" data-src="@Model.DefaultPictureModel.ImageUrl" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
        </a>
    </div>
    <div class="caption-list-type col-md-10 col-sm-10 col-xs-10">
        <div class="details-list-type">
            <h3 class="product-title-list-type">
                <a href="@Url.RouteUrl("Product", new {SeName = Model.SeName})">@Model.Name</a>
            </h3>
         @if(Model.ProductType !=ProductType.TopicProduct)
         {
             <div class="prices">
                 <div class="row">
                     <div class="col-md-6 col-sm-6"><span class="price actual-price">@Model.ProductPrice.Price  &nbsp;&nbsp;-&nbsp;&nbsp;   @area</span></div>
                     <div class="col-md-6 col-sm-6 text-right"><span class="created-date">@Model.CreatedDateUtc</span></div>
                 </div>
            </div>
         }
           
        </div>
    </div>
</div>

